@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&family=Gravitas+One&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&family=Gravitas+One&family=Lemon&family=Mirza:wght@600&display=swap');

.menuPrincipal ul li{
    display:inline-block;  
}

.menuPrincipal{
    margin-top: 0;
    text-align: start;
    width: 100%;
    position: relative;
    float: left;
    background-color: rgb(128, 138, 220);
}

.menuPrincipal ul li a{

    width: 100%;
    color:rgb(255, 255, 255);
    margin-right: 2vw;
    text-decoration: none;
    font-size: 5vh;
}

.menuPrincipal ul li a:hover{
    color:rgb(60, 61, 118);
}
.menuPrincipal .bear-me, .menuPrincipal .links{ 
    display: inline-block;
 }

 .menuPrincipal .bear-me { float: left; margin-left: 1vw; margin-top: 1vh; margin-bottom: 2.5vh; font-family: 'Gravitas One';}
 .menuPrincipal .links { float: right;  margin-right: 3vw; font-family: 'Mirza', cursive; }
 .clear { clear: both; }

 .div-entra{
    width: 100%;
    height: 5vh;   
    background-color: rgb(175, 165, 245);
    display: flex;
    justify-content: right;
    align-items: center;
    color: slategrey;
    
}

.btnentra{
    white-space: nowrap;
    background-image: linear-gradient(to right, rgb(235, 245, 240), rgb(206, 203, 243));
    margin-left: 1vw;
    margin-right: 1vw;
    border: none;
    border-radius:2rem;

    height: 80%;
    color:rgb(112, 112, 158);
    font-weight: bold;
}

.btnentra2{

    background-image: linear-gradient(to right, rgb(235, 245, 240), rgb(206, 203, 243));
    margin-left: 1vw;
    margin-right: 1vw;
    border: none;
    border-radius:2rem;
    width: 10vw;
    height: 80%;
    color:rgb(112, 112, 158);
    font-weight: bold;
}

.btnentra:hover{
    background-image: linear-gradient(to left, rgb(235, 245, 240), rgb(206, 203, 243));
    color:rgb(37, 37, 51);
    cursor:pointer;
}

.btnentra2:hover{
    background-image: linear-gradient(to left, rgb(235, 245, 240), rgb(206, 203, 243));
    color:rgb(37, 37, 51);
    cursor:pointer;
}